{% extends "base.html" %}

{% block content %}

    <div class="w-1/3 mx-auto mt-10 p-10">
        <h2 class="text-3xl mb-3 text-center">
            Password reset sent
        </h2>
        <p>
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            
        </p>
        <p class="mt-4">
If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.

        </p>
    </div>  

{% endblock %}