{% extends "base.html" %}

{% block content %}

<div class="w-1/3 mx-auto">
    {% if validlink %}
    <h2 class="text-3xl">
        Enter new password
    </h2>
    
    <p>
        Please enter your new password twice so we can verify you typed it in correctly.
    </p>

    <style>
        
    </style>

    <div>
        <form method="POST">
            {% csrf_token %}
            <div>
                <label for="new_password1">New Password</label>
                {{form.new_password1}}
            </div>
            <div>
                <label for="new_password2">Confirm Password</label>
                {{form.new_password2}}
            </div>
            <div>
                <button class="p-2 bg-green-500 rounded text-white">Change Password</button>
            </div>
        </form>
    </div>

    {% else %}
    
    <h2 class="text-3xl">
    Password reset unsuccessful
    </h2>
    
    <p>
        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
    </p>
    
    {% endif %}
</div>

{% endblock%}