
{% extends "base.html" %}

{% block title %}
        Books
    {% endblock %}

    {% block heading %}
    Books
    {% endblock %}

{% block content %}


    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 mt-5">
        {% for book in book_list %}
        <div class="text-center pb-5 border rounded-xl backdrop-blur-sm bg-white/30 hover:shadow-2xl hover:backdrop-blur-3xl">
            <a href="{% url 'book.show' book.id %}" class="justify-self-center" target="_blank">
                <div class="mx-auto">
                    <div class="bg-gray-400 bg-opacity-50 text-xl mb-3 rounded-xl py-2">
                        <h3>
                            {{book.title}}
                        </h3>
                    </div>
                    {% if book.photo %}
                    <img src="{{book.photo.url}}" width="150px" class="mx-auto">
                    {% endif %}
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}