<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>django</title>
</head>
<body>
    <h1 class="text-center text-4xl">
        Books
    </h1>

    <div class="grid grid-cols-4 gap-4">
        {% for book in data %}
        <a href="{% url 'book.show' book.id %}" class="justify-self-center text-center my-4" target="_blank">
            <div>
                <h3>
                    {{book.title}}
                </h3>
                <img src="{{book.thumbnailUrl}}" width="150px">
            </div>
        </a>
            {% endfor %}
    </div>
    
</body>
</html>