<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>django</title>
</head>
<body>
    <h1 class="text-center text-4xl">
        {{book.title}}
    </h1>

    {{book}}

    <div class="flex justify-between">
        <div class="w-3/12 p-4">
            <img src="{{book.thumbnailUrl}}" width="150px">
        </div>
        <div class="w-9/12 p-4">
            <div>
                <div>
                    <h3 class="text-2xl m-3 ms-0">
                        About
                    </h3>
                    {{book.shortDescription}}
                </div>
                <div>
                    <h3 class="text-2xl m-3 ms-0">
                        Author
                    </h3>
                    {{book.authors|join:", "}}
                </div>
    
                <div class="mt-2">
                    Pages: 
                    {{book.pageCount}}
                </div>
                <div>
                    ISBN: 
                    {{book.isbn}}
                </div>
                <div>
                    <h3 class="text-2xl m-3 ms-0">
                        Description
                    </h3>
                    {{book.longDescription}}
                </div>
            </div>
        </div>


    </div>
    
</body>
</html>